<section class="how-it-works-section spacer">
    <div class="container">
        <h2 class="text-center">Como Trabajamos?</h2>
        <p class="text-center">Encuentra tu hogar aquí, en Aquí Vivir.</p>

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="features-box-meta">
                    <div class="features-box">
                        <i class="fas fa-user text-blue"></i>
                        <span class="features-lbl bg-blue">01</span>
                    </div>
                    <div class="features-box-content text-center mt-4">
                        <h4 class="font-18">Crea una Cuenta</h4>
                        <p>¡Aquí en Aqui Vivir, el lugar de tus sueños, te invitamos a registrarte y descubrir el hogar perfecto para ti!

                            Regístrate con tu cuenta de correo Gmail o Facebook, o si lo prefieres, puedes optar por un registro manual. En Aqui Vivir, estamos comprometidos en brindarte una experiencia personalizada y única.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="features-box-meta">
                    <div class="features-box">
                        <i class="fas fa-search text-orange"></i>
                        <span class="features-lbl bg-orange">02</span>
                    </div>
                    <div class="features-box-content text-center mt-4">
                        <h4 class="font-18">Buscar</h4>
                        <p>Explora nuestra amplia selección de propiedades y utiliza nuestros filtros avanzados para encontrar exactamente lo que necesitas. Ya sea que estés buscando un apartamento, una casa espaciosa o un acogedor estudio, estoy aquí para facilitar tu búsqueda y asegurarme de que encuentres el lugar ideal.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="features-box-meta">
                    <div class="features-box">
                        <i class="far fa-paper-plane text-green"></i>
                        <span class="features-lbl bg-green">03</span>
                    </div>
                    <div class="features-box-content text-center mt-4">
                        <h4 class="font-18">Contacta al anuciente</h4>
                        <p>¡Aquí en Aqui Vivir, estoy a tu disposición para ayudarte a contactar al anunciante de la propiedad que te interesa! Regístrate y comienza a explorar nuestras opcion.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
