 <app-navbar></app-navbar>
 <!-- Banner Section Start -->
 <section class="inner-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="breadcrumb-content position-relative">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-white">Home</a></li>
                        <li class="breadcrumb-item active text-white" aria-current="page">Membership</li>
                    </ul>
                    <h1 class="breadcrumb-title text-white">Membership</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<section class="page-membership-section pb-5">
    <div class="container">
        <h2 class="text-center">Choose Your Perfect Plan From Us</h2>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <div class="row justify-content-center mt-5">
            <div class="col-lg-4 col-md-6">
                <div class="pricing-meta text-center mb-4">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="pricing-header">
                                <div class="price text-orange font-40 font-averta-bold mb-4">$49</div>
                                <h4 class="font-18">Standard Plan</h4>
                            </div>
                            <div class="pricing-content">
                                <ul class="list-unstyled">
                                    <li>5 Property Listings</li>
                                    <li>30 Days Availability</li>
                                    <li>2 Featured Property</li>
                                    <li>Limited Support</li>
                                </ul>
                            </div>
                            <div class="pricing-footer">
                                <a class="btn btn-outline-warning pricing-btn" href="#">Select Package</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-meta text-center mb-4">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="pricing-header">
                                <div class="price text-orange font-40 font-averta-bold mb-4">$99</div>
                                <h4 class="font-18">Premium  Plan</h4>
                            </div>
                            <div class="pricing-content">
                                <ul class="list-unstyled">
                                    <li>5 Property Listings</li>
                                    <li>30 Days Availability</li>
                                    <li>2 Featured Property</li>
                                    <li>Limited Support</li>
                                </ul>
                            </div>
                            <div class="pricing-footer">
                                <a class="btn btn-outline-warning pricing-btn" href="#">Select Package</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-meta text-center mb-4">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="pricing-header">
                                <div class="price text-orange font-40 font-averta-bold mb-4">$149</div>
                                <h4 class="font-18">Extended Plan</h4>
                            </div>
                            <div class="pricing-content">
                                <ul class="list-unstyled">
                                    <li>5 Property Listings</li>
                                    <li>30 Days Availability</li>
                                    <li>2 Featured Property</li>
                                    <li>Limited Support</li>
                                </ul>
                            </div>
                            <div class="pricing-footer">
                                <a class="btn btn-outline-warning pricing-btn" href="#">Select Package</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-futter></app-futter>
