<section class="home-category-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-4 mb-3 mb-lg-0">
                <div class="card border-0 category-box">
                    <div class="card-body text-center">
                        <img src="assets/imagen/category-1.png" alt="category-image" class="img-fluid mb-3">
                        <h3 class="font-20"><a href="" class="text-decoration-none stretched-link">Departamento</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-3 mb-lg-0">
                <div class="card border-0 category-box">
                    <div class="card-body text-center">
                        <img src="assets/imagen/category-2.png" alt="category-image" class="img-fluid mb-3">
                        <h3 class="font-20"><a href="" class="text-decoration-none stretched-link">Casa</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-3 mb-lg-0">
                <div class="card border-0 category-box">
                    <div class="card-body text-center">
                        <img src="assets/imagen/category-3.png" alt="category-image" class="img-fluid mb-3">
                        <h3 class="font-20"><a href="" class="text-decoration-none stretched-link">Rental House</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-3 mb-lg-0">
                <div class="card border-0 category-box">
                    <div class="card-body text-center">
                        <img src="assets/imagen/category-4.png" alt="category-image" class="img-fluid mb-3">
                        <h3 class="font-20"><a href="" class="text-decoration-none stretched-link">Comercial</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-3 mb-lg-0">
                <div class="card border-0 category-box">
                    <div class="card-body text-center">
                        <img src="assets/imagen/category-5.png" alt="category-image" class="img-fluid mb-3">
                        <h3 class="font-20"><a href="" class="text-decoration-none stretched-link">Oficina</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-3 mb-lg-0">
                <div class="card border-0 category-box">
                    <div class="card-body text-center">
                        <img src="assets/imagen/category-6.png" alt="category-image" class="img-fluid mb-3">
                        <h3 class="font-20"><a href="" class="text-decoration-none stretched-link">Family House</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
