<div class="main-wrapper">
		<header class="topbar">
			<div class="container">
				<div class="header">
					<nav class="navbar navbar-expand-lg navbar-dark top-navbar">
						<a class="navbar-brand" href="index.html">
						    <img src="assets/imagen/logo1.png" class="logo logo-white" alt="logo">
                            <img src="assets/imagen/logo-dark.png" class="logo logo-dark" alt="logo">
						</a>

						<button class="navbar-toggler ms-auto " type="button" data-bs-toggle="collapse"
							data-bs-target="#collapsible-menu" aria-controls="collapsible-menu" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="hamburger">
								<span class="hamburger-top"></span>
								<span class="hamburger-bottom"></span>
							</span>
						</button>
						<a href="#" class="text-white d-lg-none d-block">
						<i class="fas fa-user-circle font-22 mt-1"></i></a>
						<div class="collapse navbar-collapse" id="collapsible-menu">
							<ul class="navbar-nav ms-auto primary-menu">
								<!-- <li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="javascript: void(0)" id="main-menu" role="button" data-bs-toggle="dropdown" aria-expanded="false">Publicar</a>
									<ul class="dropdown-menu p-0" aria-labelledby="main-menu">
									</ul>
								</li> -->
								<li class="nav-item">
									<a class="nav-link" href="/publicar">Publicar</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/planes">Planes</a>
								</li>
							</ul>
							<a href="/registro"  class="btn btn-warning py-2 px-4 d-lg-block d-none">INGRESAR</a>

						</div>
					</nav>
				</div>
			</div>
