		<!-- Banner Section Start -->
		<section id="home-banner" class="home-banner" style="background-image: url('assets/imagen/banner-1.jpg');">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12">
						<h1 class="text-white banner-title font-48 text-center">El Mejor Lugar Para Vivir Aquí
						  <span class="typewrite text-orange" data-period="2000" data-type='[ "Precios Reales.", "Hogar Soñado.", "Departamentos.", "Residencias." ]'>
							<span class="wrap"></span>
						  </span>
						</h1>

						<!--<p class="banner-desc text-white font-22 text-center">El placer de vivir aquí.</p> nos se usa esta linea pero se puede colocar un slogan-->

						<form class="banner-serach-form mt-5">
							<ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="pills-buy-tab" data-bs-toggle="pill" data-bs-target="#pills-buy" type="button" role="tab" aria-controls="pills-buy" aria-selected="true">Compra</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="pills-rent-tab" data-bs-toggle="pill" data-bs-target="#pills-rent" type="button" role="tab" aria-controls="pills-rent" aria-selected="false">Alquila</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="pills-sale-tab" data-bs-toggle="pill" data-bs-target="#pills-sale" type="button" role="tab" aria-controls="pills-sale" aria-selected="false">Proyectos</button>
								</li>
							</ul>
							<div class="tab-content banner-serach-form-content" id="pills-tabContent">
								<div class="tab-pane fade show active" id="pills-buy" role="tabpanel" aria-labelledby="pills-buy-tab">
									<div class="row"> 
										<div class="col-lg-4 col-sm-12">
											<input type="text" class="form-control mb-3 mb-lg-0" name="property-keyword" placeholder="Ingrese Descripción..." value="">
										</div>
										<div class="col-lg-2 col-sm-6">
											<select class="form-select form-select-md mb-3 mb-lg-0" aria-label=".form-select-md example" name="property-type">
												<option selected>Tipo de Propiedad</option>
												<option value="Residential">Residencial</option>
												<option value="Commercial">Comercial</option>
											</select>
										</div>
										<div class="col-lg-2 col-sm-6">
											<select class="form-select form-select-md mb-3 mb-md-0" aria-label=".form-select-md example" name="property-location">
												<option selected>Ubicacion</option>
												<option value="1">One</option>
												<option value="2">Two</option>
												<option value="3">Three</option>
											</select>
										</div>
										<div class="col-lg-2 col-sm-6">
											<a class="btn btn-outline-warning more-search-btn w-100 mb-3 mb-md-0" data-bs-toggle="collapse" href="#more-option" role="button" aria-expanded="false" aria-controls="more-option">Mas Opciones<i class="fas fa-ellipsis-v ms-2"></i></a>
										</div>
										<div class="col-lg-2 col-sm-6">
											<a href="javascript:void(0)" class="btn btn-warning property-search w-100 mb-3 mb-md-0">Buscar</a>
										</div>
									</div>
								</div>

								<div class="tab-pane fade" id="pills-rent" role="tabpanel" aria-labelledby="pills-rent-tab">
									<div class="row"> 
										<div class="col-lg-4 col-sm-12">
											<input type="text" class="form-control mb-3 mb-lg-0" name="property-keyword" placeholder="Enter Keywords..." value="">
										</div>
										<div class="col-lg-2 col-sm-6">
											<select class="form-select form-select-md mb-3 mb-lg-0" aria-label=".form-select-md example" name="property-type">
												<option selected>Property Type</option>
												<option value="1">One</option>
												<option value="2">Two</option>
												<option value="3">Three</option>
											</select>
										</div>
										<div class="col-lg-2 col-sm-6">
											<select class="form-select form-select-md mb-3 mb-lg-0" aria-label=".form-select-md example" name="property-location">
												<option selected>Location</option>
												<option value="1">One</option>
												<option value="2">Two</option>
												<option value="3">Three</option>
											</select>
										</div>
										<div class="col-lg-2 col-sm-6">
											<a class="btn btn-outline-warning more-search-btn w-100 mb-3 mb-md-0" data-bs-toggle="collapse" href="#more-option" role="button" aria-expanded="false" aria-controls="more-option">More Options<i class="fas fa-ellipsis-v ms-2"></i></a>
										</div>
										<div class="col-lg-2 col-sm-6">
											<a href="javascript:void(0)" class="btn btn-warning property-search w-100 mb-3 mb-md-0">Search</a>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-sale" role="tabpanel" aria-labelledby="pills-sale-tab">
									<div class="row"> 
										<div class="col-lg-4 col-sm-12">
											<input type="text" class="form-control mb-3 mb-lg-0" name="property-keyword" placeholder="Enter Keywords..." value="">
										</div>
										<div class="col-lg-2 col-sm-6">
											<select class="form-select form-select-md mb-3 mb-lg-0" aria-label=".form-select-md example" name="property-type">
												<option selected>Property Type</option>
												<option value="1">One</option>
												<option value="2">Two</option>
												<option value="3">Three</option>
											</select>
										</div>
										<div class="col-lg-2 col-sm-6">
											<select class="form-select form-select-md mb-3 mb-lg-0" aria-label=".form-select-md example" name="property-location">
												<option selected>Location</option>
												<option value="1">One</option>
												<option value="2">Two</option>
												<option value="3">Three</option>
											</select>
										</div>
										<div class="col-lg-2 col-sm-6">
											<a class="btn btn-outline-warning more-search-btn w-100 mb-3 mb-md-0" data-bs-toggle="collapse" href="#more-option" role="button" aria-expanded="false" aria-controls="more-option">More Options<i class="fas fa-ellipsis-v ms-2"></i></a>
										</div>
										<div class="col-lg-2 col-sm-6">
											<a href="javascript:void(0)" class="btn btn-warning property-search w-100 mb-3 mb-md-0">Search</a>
										</div>
									</div>
								</div>
							</div>
							
							<div class="collapse mt-3 position-absolute more-option" id="more-option">
								<div class="card border-0">
									<div class="card-body">
										<div class="row">
											<div class="col-md-4 col-sm-12 mb-3">
												<select class="form-select form-select-md mb-3 mb-md-0" aria-label=".form-select-md example" name="property-status">
													<option selected>Status</option>
													<option value="Any">Compra</option>
													<option value="For Rent">Alquila</option>
													<option value="For Sale">Vende</option>
												</select>
											</div>
											<div class="col-md-4 col-sm-12 mb-3">
												<select class="form-select form-select-md mb-3 mb-md-0" aria-label=".form-select-md example" name="property-rooms">
													<option selected>Max Hab.</option>
													<option value="1">1 Habitación</option>
													<option value="2">2 Habitación</option>
													<option value="3">3 Habitación</option>
													<option value="4">4 Habitación</option>
													<option value="5">5 Habitación</option>
												</select>
											</div>
											
											<div class="col-md-4 col-sm-12 mb-3">
												<select class="form-select form-select-md mb-3 mb-md-0" aria-label=".form-select-md example" name="property-bath">
													<option selected>Baños</option>
													<option value="1">1 Baño</option>
													<option value="2">2 Baños</option>
													<option value="3">3 Baños</option>
													<option value="4">4 Baños</option>
													<option value="5">5 Baños</option>
												</select>
											</div>
										
											<div class="col-md-3 col-sm-12 mb-3">
												<input type="text" name="min-price" class="form-control mb-3 mb-md-0" placeholder ="Min Precio">
											</div>
											<div class="col-md-3 col-sm-12 mb-3">
												<input type="text" name="max-price" class="form-control mb-3 mb-md-0" placeholder ="Max Price">
											</div>
											<div class="col-md-3 col-sm-12 mb-3">
												<input type="text" name="min-area" class="form-control mb-3 mb-md-0" placeholder ="Min Area">
											</div>
											<div class="col-md-3 col-sm-12 mb-3">
												<input type="text" name="max-area" class="form-control mb-3 mb-md-0" placeholder ="Max Area">
											</div>
										</div>
										<h3 class="text-center mb-3">Comodidades</h3>
										<div class="row align-items-center">
											<div class="col-xs-12 col-sm-4 col-md-3 p-2">
												<div class="form-check">
													<input id="Dining-Room" class="form-check-input" type="checkbox" name="amenities[]" value="Dining Room">
													<label for="Dining-Room" class="ms-2 form-check-label">Comedor </label>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-3 p-2">
												<div class="form-check">
													<input id="Family-Room" class="form-check-input" type="checkbox" name="amenities[]" value="Family Room">
													<label for="Family-Room" class="ms-2 form-check-label">Family Room</label>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-3 p-2">
												<div class="form-check">
													<input id="Air-Condition" class="form-check-input" type="checkbox" name="amenities[]" value="Air Condition">
													<label for="Air-Condition" class="ms-2 form-check-label">Aire Acondicionado</label>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-3 p-2">
												<div class="form-check">
													<input id="Cooling-System" class="form-check-input" type="checkbox" name="amenities[]" value="Cooling System">
													<label for="Cooling-System" class="ms-2 form-check-label">Cooling System</label>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-3 p-2">
												<div class="form-check">
													<input id="Heating-System" class="form-check-input" type="checkbox" name="amenities[]" value="Heating System">
													<label for="Heating-System" class="ms-2 form-check-label">Heating System</label>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-3 p-2">
												<div class="form-check">
													<input id="Central-Cooling" class="form-check-input" type="checkbox" name="amenities[]" value="Central Cooling">
													<label for="Central-Cooling" class="ms-2 form-check-label">Central Cooling</label>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-3 p-2">
												<div class="form-check">
													<input id="Central-Heating" class="form-check-input" type="checkbox" name="amenities[]" value="Central Heating">
													<label for="Central-Heating" class="ms-2 form-check-label">Central Heating</label>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-3 p-2">
												<div class="form-check">
													<input id="Dishwasher" class="form-check-input" type="checkbox" name="amenities[]" value="Dishwasher">
													<label for="Dishwasher" class="ms-2 form-check-label">Dishwasher</label>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-3 p-2">
												<div class="form-check">
													<input id="Fireplace" class="form-check-input" type="checkbox" name="amenities[]" value="Fireplace">
													<label for="Fireplace" class="ms-2 form-check-label">Fireplace</label>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-3 p-2">
												<div class="form-check">
													<input id="Fire-Alarm" class="form-check-input" type="checkbox" name="amenities[]" value="Fire Alarm">
													<label for="Fire-Alarm" class="ms-2 form-check-label">Fire Alarm</label>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-3 p-2">
												<div class="form-check">
													<input id="Emergency-Exit" class="form-check-input" type="checkbox" name="amenities[]" value="Emergency Exit">
													<label for="Emergency-Exit" class="ms-2 form-check-label">Emergency Exit</label>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-3 p-2">
												<div class="form-check">
													<input id="Elevator" class="form-check-input" type="checkbox" name="amenities[]" value="Elevator">
													<label for="Elevator" class="ms-2 form-check-label">Elevator</label>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-3 p-2">
												<div class="form-check">
													<input id="Garden" class="form-check-input" type="checkbox" name="amenities[]" value="Garden">
													<label for="Garden" class="ms-2 form-check-label">Garden</label>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-3 p-2">
												<div class="form-check">
													<input id="Parking" class="form-check-input" type="checkbox" name="amenities[]" value="Parking">
													<label for="Parking" class="ms-2 form-check-label">Parking</label>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-3 p-2">
												<div class="form-check">
													<input id="Balcony" class="form-check-input" type="checkbox" name="amenities[]" value="Balcony">
													<label for="Balcony" class="ms-2 form-check-label">Balcony</label>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-3 p-2">
												<div class="form-check">
													<input id="Home-Theater" class="form-check-input" type="checkbox" name="amenities[]" value="Home Theater">
													<label for="Home-Theater" class="ms-2 form-check-label">Home Theater</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</form>
					</div>
				</div>                
			</div>
		</section>
		<!-- Banner Section End -->