<!-- Featured Property Section End -->

<section class="home-featured-property category-tab spacer">
    <div class="container">
        <h2 class="text-center">Ultimas Propiedades</h2>
        <p class="text-center">¡Aquí vivir, el lugar de tus sueños!</p>
        <div class="product-content">
            <div class="row justify-content-center mb-4">
                <div class="col-md-8">
                    <div class="product-tab">
                        <ul class="list-unstyled text-center font-semibold font-13 mt-5">
                            <li class="list-inline-item tab-item mb-3">
                                <a class="tab-item px-2 py-1 rounded font-14 text-decoration-none active" data-filter=".all" href="#">Todos</a>
                            </li>
                            <li class="list-inline-item tab-item mb-3">
                                <a class="tab-item px-2 py-1 rounded font-14 text-decoration-none" data-filter=".rentals" href="#">Alquila</a>
                            </li>
                            <li class="list-inline-item tab-item mb-3">
                                <a class="tab-item px-2 py-1 rounded font-14 text-decoration-none" data-filter=".sales" href="#">Vende</a>
                            </li>
                            <li class="list-inline-item tab-item mb-3">
                                <a class="tab-item px-2 py-1 rounded font-14 text-decoration-none" data-filter=".apartments" href="#">Departamentos</a>
                            </li>
                            <li class="list-inline-item tab-item mb-3">
                                <a class="tab-item px-2 py-1 rounded font-14 text-decoration-none" data-filter=".houses" href="#">Casa</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="product-item">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 product-desc all rentals mb-4">
                            <div class="card">
                                <div class="featured-product-img position-relative">
                                    <img src="assets/imagen/property-img/fe-property-img-9.jpg" alt="latest-property" class="img-fluid w-100 latest-pro-img" />
                                    <div class="property-details mb-2">
                                        <h4 class="text-white mb-0">$13,000/<span>mo</span></h4>
                                        <div class="property-view ms-auto">
                                            <a href="#"><i class="fas fa-exchange-alt"></i></a>
                                            <a href="#"><i class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="property-tag">
                                        <ul class="list-unstyled mb-0">
                                            <li class="bg-blue">For Rent</li>
                                        </ul>
                                    </div>
                                    <span class="featured-property me-2 text-white bg-green"><i class="fas fa-star font-12"></i></span>
                                    <span class="hot-property me-2 text-white bg-orange"><i class="fas fa-fire font-12"></i></span>
                                </div>
                                <div class="card-body">
                                    <p class="text-orange mb-0">Apartment</p>
                                    <h4 class="font-20 product-title"><a href="https://code-wrapper.com/royal-homes/page-property-single-v1.html" class="text-decoration-none">Modern Apartments</a></h4>
                                    <p><i class="fas fa-map-marker-alt"></i> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><p class="mb-0">3 <i class="fas fa-bed"></i></p>
                                        Bedrooms
                                        <li><p class="mb-0">2 <i class="fas fa-sink"></i></p>
                                        Bathrooms
                                        <li><p class="mb-0">1250 <i class="fas fa-vector-square"></i>   </p>
                                            square Ft
                                        </li>
                                    </ul>
                                </div>
                                <div class="property-footer border-top">
                                    <div class="card-body">
                                        <div class="property-footer-meta d-flex align-items-center">
                                            <div class="d-flex">
                                                <a href="#"><img src="assets/imagen/user-icon.png" alt="user-image" class="img-fluid"></a>
                                                <div class="ms-3">
                                                    <h6 class="mb-0"><a href="#" class="text-decoration-none">Johnathan Doe</a></h6>
                                                    <p class="font-14 mb-0">Estate Agents</p>
                                                </div>
                                            </div>
                                            <div class="property-year ms-auto">
                                                <p class="mb-0">1 days Ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 product-desc all rentals sales mb-4">
                            <div class="card">
                                <div class="featured-product-img position-relative">
                                    <img src="assets/imagen/property-img/fe-property-img-8.jpg" alt="latest-property" class="img-fluid w-100 latest-pro-img" />
                                    <div class="property-details mb-2">
                                        <h4 class="text-white mb-0">$10,000/<span>mo</span></h4>
                                        <div class="property-view ms-auto">
                                            <a href="#"><i class="fas fa-exchange-alt"></i></a>
                                            <a href="#"><i class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="property-tag">
                                        <ul class="list-unstyled mb-0">
                                            <li class="bg-orange">For Sale</li>
                                        </ul>
                                    </div>
                                    <span class="hot-property me-2 text-white bg-green"><i class="fas fa-star font-12"></i></span>
                                </div>
                                <div class="card-body">
                                    <p class="text-orange mb-0">House</p>
                                    <h4 class="font-20 product-title"><a href="https://code-wrapper.com/royal-homes/page-property-single-v1.html" class="text-decoration-none">Luxury Family Home</a></h4>
                                    <p><i class="fas fa-map-marker-alt"></i> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><p class="mb-0">3 <i class="fas fa-bed"></i></p>
                                        Bedrooms
                                        <li><p class="mb-0">2 <i class="fas fa-sink"></i></p>
                                        Bathrooms
                                        <li><p class="mb-0">1250 <i class="fas fa-vector-square"></i>   </p>
                                            square Ft
                                        </li>
                                    </ul>
                                </div>
                                <div class="property-footer border-top">
                                    <div class="card-body">
                                        <div class="property-footer-meta d-flex align-items-center">
                                            <div class="d-flex">
                                                <a href="#"><img src="assets/imagen/user-icon.png" alt="user-image" class="img-fluid"></a>
                                                <div class="ms-3">
                                                    <h6 class="mb-0"><a href="#" class="text-decoration-none">Johnathan Doe</a></h6>
                                                    <p class="font-14 mb-0">Estate Agents</p>
                                                </div>
                                            </div>
                                            <div class="property-year ms-auto">
                                                <p class="mb-0">4 days Ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 product-desc all sales apartments mb-4">
                            <div class="card">
                                <div class="featured-product-img position-relative">
                                    <img src="assets/imagen/property-img/fe-property-img-7.jpg" alt="latest-property" class="img-fluid w-100 latest-pro-img" />
                                    <div class="property-details mb-2">
                                        <h4 class="text-white mb-0">$15,000/<span>mo</span></h4>
                                        <div class="property-view ms-auto">
                                            <a href="#"><i class="fas fa-exchange-alt"></i></a>
                                            <a href="#"><i class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="property-tag">
                                        <ul class="list-unstyled mb-0">
                                            <li class="bg-blue">For Rent</li>
                                        </ul>
                                    </div>
                                    <span class="hot-property me-2 text-white bg-orange"><i class="fas fa-fire font-12"></i></span>
                                </div>
                                <div class="card-body">
                                    <p class="text-orange mb-0">Apartment</p>
                                    <h4 class="font-20 product-title"><a href="https://code-wrapper.com/royal-homes/page-property-single-v1.html" class="text-decoration-none">Renovated Apartment</a></h4>
                                    <p><i class="fas fa-map-marker-alt"></i> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><p class="mb-0">3 <i class="fas fa-bed"></i></p>
                                        Bedrooms
                                        <li><p class="mb-0">2 <i class="fas fa-sink"></i></p>
                                        Bathrooms
                                        <li><p class="mb-0">1250 <i class="fas fa-vector-square"></i>   </p>
                                            square Ft
                                        </li>
                                    </ul>
                                </div>
                                <div class="property-footer border-top">
                                    <div class="card-body">
                                        <div class="property-footer-meta d-flex align-items-center">
                                            <div class="d-flex">
                                                <a href="#"><img src="assets/imagen/user-icon.png" alt="user-image" class="img-fluid"></a>
                                                <div class="ms-3">
                                                    <h6 class="mb-0"><a href="#" class="text-decoration-none">Johnathan Doe</a></h6>
                                                    <p class="font-14 mb-0">Estate Agents</p>
                                                </div>
                                            </div>
                                            <div class="property-year ms-auto">
                                                <p class="mb-0">3 days Ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 product-desc all apartments houses">
                            <div class="card">
                                <div class="featured-product-img position-relative">
                                    <img src="assets/imagen/property-img/fe-property-img-6.jpg" alt="latest-property" class="img-fluid w-100 latest-pro-img" />
                                    <div class="property-details mb-2">
                                        <h4 class="text-white mb-0">$5,000/<span>mo</span></h4>
                                        <div class="property-view ms-auto">
                                            <a href="#"><i class="fas fa-exchange-alt"></i></a>
                                            <a href="#"><i class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="property-tag">
                                        <ul class="list-unstyled mb-0">
                                            <li class="bg-orange">For Sale</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="text-orange mb-0">Apartment</p>
                                    <h4 class="font-20 product-title"><a href="https://code-wrapper.com/royal-homes/page-property-single-v1.html" class="text-decoration-none">Romain Apartments</a></h4>
                                    <p><i class="fas fa-map-marker-alt"></i> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><p class="mb-0">3 <i class="fas fa-bed"></i></p>
                                        Bedrooms
                                        <li><p class="mb-0">2 <i class="fas fa-sink"></i></p>
                                        Bathrooms
                                        <li><p class="mb-0">1250 <i class="fas fa-vector-square"></i>   </p>
                                            square Ft
                                        </li>
                                    </ul>
                                </div>
                                <div class="property-footer border-top">
                                    <div class="card-body">
                                        <div class="property-footer-meta d-flex align-items-center">
                                            <div class="d-flex">
                                                <a href="#"><img src="assets/imagen/user-icon.png" alt="user-image" class="img-fluid"></a>
                                                <div class="ms-3">
                                                    <h6 class="mb-0"><a href="#" class="text-decoration-none">Johnathan Doe</a></h6>
                                                    <p class="font-14 mb-0">Estate Agents</p>
                                                </div>
                                            </div>
                                            <div class="property-year ms-auto">
                                                <p class="mb-0">5 days Ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 product-desc all sales houses">
                            <div class="card">
                                <div class="featured-product-img position-relative">
                                    <img src="assets/imagen/property-img/fe-property-img-5.jpg" alt="latest-property" class="img-fluid w-100 latest-pro-img" />
                                    <div class="property-details mb-2">
                                        <h4 class="text-white mb-0">$25,000/<span>mo</span></h4>
                                        <div class="property-view ms-auto">
                                            <a href="#"><i class="fas fa-exchange-alt"></i></a>
                                            <a href="#"><i class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="property-tag">
                                        <ul class="list-unstyled mb-0">
                                            <li class="bg-blue">For Rent</li>
                                        </ul>
                                    </div>
                                    <span class="hot-property me-2 text-white bg-green"><i class="fas fa-star font-12"></i></span>
                                </div>
                                <div class="card-body">
                                    <p class="text-orange mb-0">House</p>
                                    <h4 class="font-20 product-title"><a href="https://code-wrapper.com/royal-homes/page-property-single-v1.html" class="text-decoration-none">Matrix House</a></h4>
                                    <p><i class="fas fa-map-marker-alt"></i> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><p class="mb-0">3 <i class="fas fa-bed"></i></p>
                                        Bedrooms
                                        <li><p class="mb-0">2 <i class="fas fa-sink"></i></p>
                                        Bathrooms
                                        <li><p class="mb-0">1250 <i class="fas fa-vector-square"></i>   </p>
                                            square Ft
                                        </li>
                                    </ul>
                                </div>
                                <div class="property-footer border-top">
                                    <div class="card-body">
                                        <div class="property-footer-meta d-flex align-items-center">
                                            <div class="d-flex">
                                                <a href="#"><img src="assets/imagen/user-icon.png" alt="user-image" class="img-fluid"></a>
                                                <div class="ms-3">
                                                    <h6 class="mb-0"><a href="#" class="text-decoration-none">Johnathan Doe</a></h6>
                                                    <p class="font-14 mb-0">Estate Agents</p>
                                                </div>
                                            </div>
                                            <div class="property-year ms-auto">
                                                <p class="mb-0">2 days Ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 product-desc all sales rentals">
                            <div class="card">
                                <div class="featured-product-img position-relative">
                                    <img src="assets/imagen/property-img/fe-property-img-4.jpg" alt="latest-property" class="img-fluid w-100 latest-pro-img" />
                                    <div class="property-details mb-2">
                                        <h4 class="text-white mb-0">$25,000/<span>mo</span></h4>
                                        <div class="property-view ms-auto">
                                            <a href="#"><i class="fas fa-exchange-alt"></i></a>
                                            <a href="#"><i class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="property-tag">
                                        <ul class="list-unstyled mb-0">
                                            <li class="bg-orange">For Sale</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="text-orange mb-0">Villa</p>
                                    <h4 class="font-20 product-title"><a href="https://code-wrapper.com/royal-homes/page-property-single-v1.html" class="text-decoration-none">Real Luxury Family House Villa</a></h4>
                                    <p><i class="fas fa-map-marker-alt"></i> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><p class="mb-0">3 <i class="fas fa-bed"></i></p>
                                        Bedrooms
                                        <li><p class="mb-0">2 <i class="fas fa-sink"></i></p>
                                        Bathrooms
                                        <li><p class="mb-0">1250 <i class="fas fa-vector-square"></i>   </p>
                                            square Ft
                                        </li>
                                    </ul>
                                </div>
                                <div class="property-footer border-top">
                                    <div class="card-body">
                                        <div class="property-footer-meta d-flex align-items-center">
                                            <div class="d-flex">
                                                <a href="#"><img src="assets/imagen/user-icon.png" alt="user-image" class="img-fluid"></a>
                                                <div class="ms-3">
                                                    <h6 class="mb-0"><a href="#" class="text-decoration-none">Johnathan Doe</a></h6>
                                                    <p class="font-14 mb-0">Estate Agents</p>
                                                </div>
                                            </div>
                                            <div class="property-year ms-auto">
                                                <p class="mb-0">4 days Ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="javascript:void(0)" class="btn btn-warning view-all-btn">View All Property</a>
        </div>  
    </div>
</section>
