<section class="property-by-location-st3 spacer">
    <div class="container">
        <h2 class="text-center">Find The Neighborhood For You</h2>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
   
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="property-box">
                    <a href="#"><img src="assets/imagen/neighborhood-1.jpg" alt="city-image" class="img-fluid"></a>
                    <div class="property-box-content">
                        <h4><a href="#" class="text-decoration-none">New York City</a></h4>
                        <span>10 Properties</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="property-box">
                    <a href="#"><img src="assets/imagen/neighborhood-2.jpg" alt="city-image" class="img-fluid"></a>
                    <div class="property-box-content">
                        <h4><a href="#" class="text-decoration-none">Australia</a></h4>
                        <span>20 Properties</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="property-box">
                    <a href="#"><img src="assets/imagen/neighborhood-3.jpg" alt="city-image" class="img-fluid"></a>
                    <div class="property-box-content">
                        <h4><a href="#" class="text-decoration-none">Canada</a></h4>
                        <span>30 Properties</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="javascript:void(0)" class="btn btn-warning view-all-btn">View All Locations</a>
        </div>
    </div>
</section>

